<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-md-9">
                <h3>Welcome to SASApp</h3>
                <p>This application for Online Exam</p>
            </div>
            <div class="col-md-3 contact-us">
                <h4>Drop us a line...</h4>
                <p><span title="Follow me on twitter" class="fa fa-twitter fa-fw"></span> <a class="black-anchor" target="_blank" href="https://twitter.com/rajesh">twitter.com/rajesh</a></p>
                <p><span title="Drop me a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:info@softvision.com">info@softvision.com</a></p>
                <p><span title="Website" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="https://www.softvision.com/contact">www.softvision.com</a></p>
            </div>
        </div>

        

        

        <div class="row">
            <div class="col-12">
                <a href="https://www.softvision.com/shop" target="_blank" class="btn btn-default more-templates"><i class="fa fa-shopping-cart"></i> Rajesh</a>
            </div>
        </div>

    </div>
</div>
