#previewTable table thead{
    background-color: #337ab7;
    color: #fff;
}

.backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-dialog {
    height: 85%;
}
.modal-content{
    height: 85%;
    overflow: scroll;
}

