<form [formGroup]="uploadQuestionForm" (ngSubmit)="onSubmit()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{'addQuestion.management.UploadQuestion' | translate}}</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="question">{{'addQuestion.management.UploadQuestion' | translate}}</label>
        <input type="file" id="question" class="form-control" (change)="upload($event)" formControlName="question">
      </div>
    </div>

    <div class="panel-footer">
      <div class="row control-box">
        <div *ngIf="!uploadQuestionForm.controls['question'].invalid">
          <div class="col-sm-1">
            <button class="btn btn-info" type="button" (click)="previewFile()">{{'addQuestion.management.Preiview' | translate}}</button>
          </div>

          <div class="col-sm-1">
            <button class="btn btn-primary" type="submit">{{'addQuestion.management.Upload' | translate}}</button>
          </div>
        </div>

        <div class="col-sm-1">
          <button class="btn btn-danger" type="reset">{{'addQuestion.management.Reset' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="previewTable" class="backdrop" [ngStyle]="{'display':display}">
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">File Preview</h4>
            <button type="button" class="close" (click)="closeModal()">&times;</button>
          </div>
          <div class="modal-body">
            <table class="sjs-table table table-bordered table-hover">
              <thead>
                <tr *ngFor="let row of data | slice:0:1">
                  <th *ngFor="let val of row">
                    {{val}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of data | slice:1">
                  <td *ngFor="let val of row">
                    {{val}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>